{% extends "encyclopedia/layout.html" %}

{% block title %}
    : Create new entry
{% endblock %}

{% block body %}
    {% if message %}
        <header>
            <div class="alert alert-danger">
                {{ message }}
            </div>
        </header>
    {% endif %}

    <form action="/edit/{{ title }}" method="post">
        {% csrf_token %}
        <div class="form-group col">
            <h1 name="title">{{ title }}</h1>
            <textarea name="content" class="form-control" rows="20">{{content}}</textarea>
            <input type="submit" value="Save" class="btn btn-primary mt-3">
        </div>
    </form>
{% endblock %}